<ion-content mode="ios">
  <ion-item lines="none" color="tertiary">
    <ion-icon name="chevron-back-outline" color="danger"></ion-icon>
    <ion-label>
      <h2><b>แก้ไขที่อยู่</b></h2>
    </ion-label>
    <ion-label slot="end" color="medium" class="ion-text-end">
      <h3></h3>
    </ion-label>
  </ion-item>
  <ion-item lines="none" color="tertiary">
    <ion-icon name="location-outline" color="danger"></ion-icon>
    <ion-label>
      <h2><b>วโลบล ซอยหลังมอ ศิลา,อำเภอเมืองขอนแก่น,จังหวัดขอนแก่น</b></h2>
    </ion-label>
    <ion-label slot="end" color="medium" class="ion-text-end">
      <h3></h3>
    </ion-label>
  </ion-item>
  <ion-item lines="full" color="tertiary">
    <ion-label>
      <h2><b></b></h2>
    </ion-label>
    <ion-icon name="map-outline" color="danger"></ion-icon>
    <ion-label slot="end" color="medium" class="ion-text-end">
      <h3></h3>
    </ion-label>
  </ion-item>

  <ion-list class="ion-padding-top">
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">ชื่อหัวข้อ</ion-label>
      <ion-input type="text">Office</ion-input>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">ที่อยู่</ion-label>
      <ion-input type="text">919</ion-input>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">ตำบล</ion-label>
      <ion-input type="text">ศิลา</ion-input>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">อำเภอ</ion-label>
      <ion-input type="text">เมือง</ion-input>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">จังหวัด</ion-label>
      <ion-input type="text">ขอนแก่น</ion-input>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">รหัสไปรษณีย์</ion-label>
      <ion-input type="tel">40000</ion-input>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">หมายเหตุ</ion-label>
      <ion-textarea type="text" placeholder="ระบุบันทึกเพิ่มเติม (ไม่จำเป็น)"></ion-textarea>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">เบอร์ติดต่อ</ion-label>
      <ion-input type="tel">0911234567</ion-input>
    </ion-item>
  </ion-list>

  <ion-item color="tertiary" class="ion-no-padding">
    <ion-label class="ion-padding-start" color="medium">
      <h3>
        ตั้งค่าเป็นที่อยู่ส่งของ
      </h3>
    </ion-label>
    <ion-toggle class="toggle-checked" color="danger"></ion-toggle>
  </ion-item>
  <ion-item color="tertiary" class="ion-no-padding">
    <ion-label class="ion-padding-start" color="medium">
      <h3>
        ตั้งค่าเป็นที่อยู่ส่งบิล
      </h3>
    </ion-label>
    <ion-toggle class="toggle-checked" color="danger"></ion-toggle>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-button color="danger" class="ion-no-margin" expand="full" routerLink="/list-address">OK</ion-button>
</ion-footer>