<ion-content class="ion-padding" mode="ios">

  <ion-list class="ion-margin-bottom" lines="full">
    <ion-list-header class="ion-padding">
      <ion-label>Standard</ion-label>
    </ion-list-header>
    <a target="_blank" routerLink="/user-address-type3">
      <ion-item color="tertiary" button>
        <ion-label>User ที่อยู่ที่สร้างไว้แบบมีเบอร์โทร</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/user-address-type2">
      <ion-item color="tertiary" button>
        <ion-label>User ที่อยู่ที่สร้างไว้แบบไม่มีเบอร์โทร</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/user-profile">
      <ion-item color="tertiary" button>
        <ion-label>Profile</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/create-phone">
      <ion-item color="tertiary" button>
        <ion-label>Phone template</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/add-phone">
      <ion-item color="tertiary" button>
        <ion-label>Add phone number</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/business-address">
      <ion-item color="tertiary" button>
        <ion-label>Business สถานที่ตั้ง</ion-label>
      </ion-item>
    </a>
    <a target="_blank" routerLink="/kyc-address">
      <ion-item color="tertiary" button>
        <ion-label>Kyc ที่อยู่</ion-label>
      </ion-item>
    </a>
  </ion-list>
</ion-content>
