<ion-content mode="ios">
  <ion-item lines="none" color="tertiary">
    <ion-icon name="chevron-back-outline" color="danger"></ion-icon>
    <ion-label>
      <h2><b>เบอร์โทรและอีเมล</b></h2>
    </ion-label>
    <ion-icon slot="end" name="add-outline" color="danger" class="ion-text-end" routerLink="/add-phone"></ion-icon>
  </ion-item>

  <ion-list lines="none" class="ion-padding-top">
    <ion-item color="tertiary">
      <ion-label>
        <b>เบอร์โทรใช้ผูกบัญชีของ mana</b>
        <ion-text color="medium">
          <h3>0911234567</h3>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item lines="none">
    <ion-label>
      <b>เบอร์โทรอื่นๆ</b>
    </ion-label>
  </ion-item>

  <ion-list lines="none" class="ion-padding-top">
    <ion-item color="tertiary">
      <ion-label>
        <b>เบอร์ที่ทำงาน</b>
        <ion-text color="medium">
          <h3>0911234567</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <ion-label>
        <b>เบอร์บ้าน</b>
        <ion-text color="medium">
          <h3>0911234567</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>