<ion-content mode="ios">
  <ion-item lines="none" color="tertiary">
    <ion-icon name="chevron-back-outline" color="danger"></ion-icon>
    <ion-label>
      <h2><b>เพิ่มเบอร์โทร</b></h2>
    </ion-label>
    <ion-label slot="end" color="medium" class="ion-text-end">
      <h3></h3>
    </ion-label>
  </ion-item>

  <ion-list class="ion-padding-top">
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">ชื่อหัวข้อ</ion-label>
      <ion-input type="text">เบอร์บ้าน</ion-input>
    </ion-item>
    <ion-item lines="full" color="tertiary">
      <ion-label position="stacked">เบอร์ติดต่อ</ion-label>
      <ion-input type="tel">0911234567</ion-input>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-button color="danger" class="ion-no-margin" expand="full" routerLink="/create-phone">OK</ion-button>
</ion-footer>
